@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400..700&display=swap');

$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);

$mobile: 375px;
$desktop: 1440px;

html, body {
  height: 100%;
}

h2 {
  color: $dark-blue;
  font-size: 23px;
}

p {
  color: $grayish-blue;
  font-size: 15px;
}

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
}

.main {
  background-color: $light-gray;
  height: 100%;
  display: flex;
  overflow-y: scroll;
}

.card {
  background-color: $white;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  height: 500px;
  margin: auto;
  width: 321px;
  box-shadow: 0 18px 8px 0px hsl(220deg 15% 55% / 10%);
  
  img.qr-code {
    border-radius: 11px;
    margin: 15px 15px 0 15px;
  }

  .card-description {
    text-align: center;
    flex: 1;
    margin: 0px 30px;
  }
}

@media screen and (max-width: $mobile) {
  .card {
    width: calc(100% - 50px);
  }
}
